<h1>O nas</h1>
<h3>Jesteśmy firmą która zajmuje się:</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div id="mydiv">
        <h3>Naprawą komputerów!</h3>
        <p>Zajmujemy się naprawą komputerów już od kilku lat. Nasi specjaliści pomogą Ci 
        kiedy twój komputer przestanie działać!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div id="mydiv">
        <h3>Naprawą tabletów!</h3>
        <p>Jeżeli masz tablet który nie działa, pomożemy Ci. Naprawiamy szybko i tanio!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div id="mydiv">
        <h3>Naprawą smartfonów!</h3>
        <p>W dzisiejszych czasach każdy korzysta ze smartfona. Jeżeli przestanie on działać, pomożemy Ci z tym problemem!</p>
      </div>
    </div>
  </div>