<div id="mydiv">
<h1>Kontakt</h1>
<h3>Ivan Nykyforuk</h3>
<h4>Program do obsługi serwisu komputerowego w technologii Ruby on Rails</h4>
<p>email: <a href="mailto:ivan.nykyforuk123@gmail.com?subject=Serwis">ivan.nykyforuk123@gmail.com</a></p>
</div>