<div id="mydiv">
<h1>Częste pytania</h1>
<h3>Jak mogę złożyć zamówienie?</h3>
<p>- Zamówienie można złożyć po założeniu konta w serwisie.</p>
<h3>Ile trwa naprawa?</h3>
<p>- Użytkownik może wybrać termin realizacji naprawy.</p>
<h3>Jakie są terminy?</h3>
<p>- 7 dni (bez dodatkowej opłaty)</p>
<p>- 5 dni (dodatkowa opłata w wysokości 20% od sumy naprawy)</p>
<p>- 3 dni (dodatkowa opłata w wysokości 30% od sumy naprawy)</p>
</div>