<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="thumbnail">
      <div id="mydiv">
        <h3>Panel administracyjny</h3>
          <p><%= link_to "Zamówienia", orders_path, 
          class: "btn btn-primary" %></p>
          <p><%= link_to "Użytkownicy", users_path, 
          class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

